# ===============================
# Spring
# ===============================
SPRING_APPLICATION_NAME=condo-swift-api
SPRING_PROFILES_ACTIVE=dev

# ===============================
# Datasource (PostgreSQL)
# ===============================
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/condo_swift_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# ===============================
# JWT
# ===============================
JWT_SECRET=YOUR_JWT_SECRET

# ===============================
# Supabase
# ===============================
SUPABASE_URL=YOUR_URL
SUPABASE_KEY=YOUR_SECRET_KEY

# ===============================
# ThaiBulk SMS
# ===============================
THAIBULKSMS_KEY=17653642005961
THAIBULKSMS_SECRET=YOUR_SMS_SECRET_KEY

# ===============================
# ThaiBulk Email
# ===============================
THAIBULKEMAIL_KEY=YOUR_PUBLIC_KEY
THAIBULKEMAIL_SECRET=YOUR_EMAIL_SECRET_KEY
THAIBULKEMAIL_EMAIL_SENDER=your-mail.tbmailsend.com
THAIBULKEMAIL_VERIFY_TEMPLATE_UUID=25103013-0259-83fd-9f73-ac373281f7e1
THAIBULKEMAIL_RESET_PASSWORD_TEMPLATE_UUID=25111015-0909-8542-99a0-31c7bd091bdc

THAIBULKEMAIL_VERIFY_PRODUCTION_URL=http://localhost:5173/verify-email
THAIBULKEMAIL_VERIFY_DEV_URL=http://localhost:5173/verify-email
THAIBULKEMAIL_RESET_PASSWORD_URL=http://localhost:5173

# ===============================
# Stripe
# ===============================
STRIPE_SECRET_KEY=YOUR_KEY
STRIPE_WEBHOOK_SECRET=YOUR_SECRET
STRIPE_SUCCESS_URL=http://localhost:5173/payment/success
STRIPE_CANCEL_URL=http://localhost:5173/payment/cancel
